.curtain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgb(247,247,247);
  opacity: 0;

  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0%   { opacity: 1; }
  100%     { opacity: 0; }
}

canvas {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  
  background: #8200c9; /* Old browsers */
  background: -moz-linear-gradient(top,  #11e8bb 0%, #8200c9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #11e8bb 0%,#8200c9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #11e8bb 0%,#8200c9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11e8bb', endColorstr='#8200c9',GradientType=0 ); /* IE6-9 */
  overflow: hidden;
}

.dark_mode canvas{
  background: #410064; /* Old browsers */
  background: -moz-linear-gradient(top,  #09745d 0%, #410064 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #09745d 0%,#410064 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #09745d 0%,#410064 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09745d', endColorstr='#410064',GradientType=0 ); /* IE6-9 */
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 35px;

  border: 1px solid rgba(247, 247, 247, .25);
  border-radius: 20px;
  background-color: rgba(247, 247, 247, 0.45);
  box-shadow: 0 0 10px 1px rgba(18, 18, 18, 0.25);

  backdrop-filter: blur(15px);
}

.landing {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.content_grid {
  position: absolute;
  top: 150%;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 100vh;
}

.left_block {
  grid-column: 2 / span 6;
}

.center_block {
  grid-column: 4 / span 6;
}

.right_block {
  grid-column: 6 / span 6;
}

.fadeIn {
  animation: fadeIn 1s;
}

.card_grid {
  position: relative;
  display: grid;
}


















html {
  visibility: visible;
  opacity: 1;
}
