.curtain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgb(247,247,247);
  opacity: 0;
  pointer-events: none;

  animation: fadeIn 2s;
}

.fadeIn {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0%   { opacity: 1; }
  100%     { opacity: 0; }
}

canvas {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  
  background: #8200c9; /* Old browsers */
  background: -moz-linear-gradient(top,  #11e8bb 0%, #8200c9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #11e8bb 0%,#8200c9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #11e8bb 0%,#8200c9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11e8bb', endColorstr='#8200c9',GradientType=0 ); /* IE6-9 */
  overflow: hidden;
}

header {
  font-size: 130%;
}

.card {
  padding: 25px;

  border: 1px solid rgba(247, 247, 247, .25);
  border-radius: 20px;
  background-color: rgba(247, 247, 247, 0.45);
  box-shadow: 0 0 10px 1px rgba(18, 18, 18, 0.25);

  backdrop-filter: blur(10px);
}

.landing {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.project_1 {
  position: absolute;
  left: 50%;
  top: 150%;
  transform: translate(-50%, -50%);
}

.project_2 {
  position: absolute;
  left: 50%;
  top: 250%;
  transform: translate(-50%, -50%);
}

.project_3 {
  position: absolute;
  left: 50%;
  top: 350%;
  transform: translate(-50%, -50%);
}

.project_4 {
  position: absolute;
  left: 50%;
  top: 500%;
  padding-bottom: 25%;
  transform: translate(-50%, -50%);

  text-align: center;
}

.single_content {
  max-width: 604px;
  min-width: 302px;
}

img {
  width: 302px;
  object-fit: contain;
  align-self: center;
  display: block;
  border-radius: 20px;
}

.two_column {
  display:block;
}

.two_column > * {
  padding: 0.5rem;
  width: 302px;
}

@media (min-width:768px) {
  .two_column {
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
}

/* important for loading content before showing it */
html {
  visibility: visible;
  opacity: 1;
}
